<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div class="container-fluid px-0">
  	<div class="row d-md-flex no-gutters slider-text align-items-center js-fullheight justify-content-end">
      <%= image_tag("undraw_pair_programming_njlp.svg", class: "one-third js-fullheight align-self-end order-md-last img-fluid") %>
      <div class="one-forth d-flex align-items-center ftco-animate js-fullheight">
      	<div class="text mt-5">
      		<span class="subheading">Welcome to the</span>
          <h1 class="mb-3"><span>Ultimate,</span> <span>Match,</span> <span>Tracker</span></h1>
          <p>For HearthStone, Join and climb the leaderboards to become legendary</p>
          <p><%= link_to 'Sign Up Free', signup_path, class: 'btn btn-primary px-4 py-3' %></p>
        </div>
      </div>
  	</div>
  </div>
</div>

<!-- <section class="bnet-search">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-5 heading-white mb-4 mb-sm-4 mb-lg-0 ftco-animate">
				<h2>Search Your BattleNet Name</h2>
				<p></p>
			</div>
			<div class="col-lg-7 p-5 ftco-wrap ftco-animate">
				<form action="#" class="bname-form d-flex mb-3">
          <div class="form-group bname-name">
            <input type="text" class="form-control name px-4" placeholder="BattleNet name...">
          </div>
          <div class="form-group bname-select d-flex">
            <input type="submit" class="search-bname btn btn-primary text-center" value="Search">
          </div>
        </form>
			</div>
		</div>
	</div>
</section> -->

<section class="ftco-section site-stats img" id="section-counter">
	<div class="container">
		<div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">Stats being tracked</span>
      </div>
    </div>
		<div class="row justify-content-center">
			<div class="col-md-10">
    		<div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number"><%= @userCount %></strong>
                <span>BattleNet Users</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number"><%= @matchesCount %></strong>
                <span>Matches</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number"><%= @playersCount %></strong>
                <span>Players</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number">0</strong>
                <span>Happy China</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</section>

<section class="ftco-section bg-light how-it-works">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">InnKeep Companion App</span>
        <h2 class="mb-4">How it works</h2>
      </div>
		</div>
		<div class="row">
      <div class="col-md-12 align-items-center ftco-animate">
        
        <div class="tab-content ftco-animate" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-nextgen" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
          	<div class="d-md-flex">
            	<div class="one-forth align-self-center">
                <%= image_tag("undraw_laravel_and_vue_59tp.svg", class: "img-fluid") %>
            	</div>
            	<div class="one-half ml-md-5 align-self-center">
                <h2 class="mb-4">InnKeep Companion App</h2>
              	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam sunt iste dolores consequatur</p>
                <p><a href="https://github.com/arubinofaux/innkeep-app/releases" target="_blank" class="btn btn-primary py-3">Download From Github</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
	</div>
</section>