<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>InnKeepBattles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,,500,600,700" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <%= link_to 'InnKeepBattles', root_url, class: 'navbar-brand'%>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="navbar-toggler-icon"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item">
              <%= link_to 'Home', root_url, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Matches', matches_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Players', all_players_path, class: 'nav-link' %>
            </li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownUserActions" data-toggle="dropdown"><%= current_user.player.bnet_name %></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUserActions">
                  <%= link_to 'View Profile', get_player_path(current_user.player.name), class: 'dropdown-item' %>
                  <%= link_to 'Settings', edit_user_registration_path, class: 'dropdown-item' %>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
            <% else %>
              <li class="nav-item cta">
                <%= link_to login_path, class: 'nav-link' do %>
                  <span>Login / Sign Up</span>
                <% end%>
              </li>
            <% end %>
	        </ul>
	      </div>
	    </div>
	  </nav>

    <%= yield %>

    <footer class="site-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>
              Made with A Keyboard
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
